.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px black;
    align-content: center;
    margin: 0 auto;
    background-color: lightblue;
}

.card-header {
    height: 30%;
    background: gray;
    color: black;
    text-align: center;
}

.card-header p {
    font-size: 20px;
}

.container {
    padding: 4px 16px;
}

.btn-back {
    background-color: gray;
    color: black;
}